<div class="jumbotron">
     <div class="container">
       <% if user_signed_in? %>
       <h1 class="display-3">Hello, <%= current_user.email %> !</h1>
       <% else %>
       <h1 class="display-3">Hello, visitor!</h1>
       <% end %>

       <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
     </div>
   </div>

      <% @events.each_with_index do |events,index| %>
      <div class="container ">
       <!-- Example row of columns -->
       <div class="row pl-2">
          <div class="col-md-5">
            <h2><%= @events[index].title %></h2>
            <%= @events[index].created_at %>
            <p> <%= @events[index].description %></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          </div>
          </div>

      <% end %>
